{% extends "partials/base_table.html" %}
{% load static %}
{% load boat_extras %}

{% block extra_css %}
<style>
    table a, button {
        opacity: 0.7;
    }
    #toolbar {
        opacity: 0.7;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <div id="toolbar">
        <a href="{% url 'technician:create-technician' %}" class="btn btn-primary">Novo Técnico</a>
    </div>
    <div class="row">
        <div class="col">
            <h3>Técnicos</h3>
        </div>
        {% if request.user.profile == 'SO' %}
        <div class="col-auto">
            <h5>{{ request.user|boat:'name'}}</h5>
        </div>
        {% endif %}
        <hr>
    </div>
    <table id="table"
        data-classes="table table-hover"
        data-toolbar="#toolbar"
        data-pagination="true"
        data-search="true"
        data-show-pagination-switch="true"
        data-locale="pt-BR"
        data-mobile-responsive="true"
        data-min-width=576
        data-check-on-init="true">
        <thead>
            <tr>
                <th data-field="name" data-sortable="true" data-formatter="nameFormatter">nome</th>
                <th data-field="speciality" data-sortable="true">especialidade</th>
                <th data-field="email" data-sortable="true">email</th>
                <th data-field="phone" data-sortable="true" data-formatter="phoneFormatter">telefone</th>
                <th data-field="company" data-sortable="true">empresa</th>
                <th data-field="id" data-sortable="false" data-width="5" data-width-unit="%" data-formatter="idFormatter"></th>
            </tr>
        </thead>
        <tbody>
            {% for technician in technicians_list %}
            <tr>
                <td>{{ technician.name }}</td>
                <td>{{ technician.get_speciality_display }}</td>
                <td>{{ technician.email }}</td>
                <td>{{ technician.phone }}</td>
                <td>{{ technician.company }}</td>
                <td>{{ technician.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script>
    const table = $('#table');
    var pagination = null;

    $(function() {
        table.bootstrapTable({
            onToggle: function (cardview) {
                const windowWidth = $(window).width();
                if (windowWidth < 576) {
                    if (pagination === null || pagination) {
                        pagination = false;
                        table.bootstrapTable('togglePagination');
                    }
                } else {
                    if (pagination === null) {
                        pagination = true;
                    } else if (!pagination) {
                        pagination = true;
                        table.bootstrapTable('togglePagination');
                    }
                }
            }
        });
    });

    window.phoneFormatter = (value, row, index, field) => {
        return `(${value.substr(0, 2)})${value.substr(2, 5)}-${value.substr(7)}`
    }

    window.nameFormatter = (value, row, index, field) => {
        return `<spam id="name-${row.id}">${value}</spam>`
    }

    window.idFormatter = (value, row, index, field) => {
        return `
        <div class="d-flex justify-content-center mt-3 mt-sm-0">
            <a href="update/${value}" class="btn btn-primary px-4 px-sm-1 me-3 me-sm-2" title="editar" id="update-${value}">
                <i class="bi bi-pencil"></i>
            </a>
            <button type="button" id="delete-${value}" class="btn btn-danger px-4 px-sm-1 me-3 me-sm-2 button-delete" title="criar nova senha">
                <i class="bi bi-trash"></i>
            </button>
        </div>`
    }


    $(document).on('click', '.button-delete', function() {
        const id = $(this).attr('id').split('-')[1];
        const name = $(`#name-${id}`).text();
        Swal.fire({
            title: "Você tem certeza?",
            text: `você vai apagar o técnico: ${name}`,
            icon: "warning",
            theme: '{{ request.user.get_theme_display }}',
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "apagar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then((result) => {
            if (result.isConfirmed) {
                const url = "{% url 'technician:delete-technician' 1 %}".replace('1', id);
                fetch(url, {method: "GET",})
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        Toast.fire({
                            icon: "success",
                            title: data.message,
                            background: "#B0FFB0",
                        });
                        // Atualizar a lista de usuários após a exclusão
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Toast.fire({
                            icon: "error",
                            title: data.message,
                            background: "#FFB0B0",
                        });
                    }
                    })
                .catch(error => console.error(error));
            }
        });
    })
</script>
{% endblock extra_javascript %}