{% extends "partials/base_table.html" %}
{% load static %}

{% block extra_css %}
<style>
    table a, button {
        opacity: 0.7;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Usuários</h3>
        </div>
        <div class="col-auto">
            <a href="{% url 'user:create-user' %}" class="btn btn-primary btn-sm">Novo Usuário</a>
        </div>
        <hr>
    </div>
    <table id="table"
        data-classes="table table-hover"
        data-pagination="true"
        data-search="true"
        data-sort-name="username"
        data-sort-order="asc"
        data-show-pagination-switch="true"
        data-locale="pt-BR"
        data-mobile-responsive="true"
        data-check-on-init="true">
        <thead>
            <tr>
                <th data-field="username" data-sortable="true">usuário</th>
                <th data-sortable="true">perfil</th>
                <th data-sortable="true">email</th>
                <th data-sortable="true">nome</th>
                <th data-sortable="true">sobrenome</th>
                <th data-sortable="true">telefone</th>
                <th data-sortable="true">tema</th>
                <th
                data-sortable="false"
                data-width="5"
                data-width-unit="%">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.get_profile_display }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.get_theme_display }}</td>
                <td>
                    <div class="d-flex justify-content-center mt-3 mt-sm-0">
                        <button type="button" id="new-password-{{ user.id }}" class="btn btn-warning px-4 px-sm-1 me-3 me-sm-2 button-new-password" title="criar nova senha">
                        <i class="bi bi-key"></i></button>
                        <a href="update/{{ user.id }}" class="btn btn-primary px-4 px-sm-1 me-3 me-sm-2" title="editar"
                        id="update-{{ user.id }}"><i class="bi bi-pencil"></i></a>
                        <button type="button" id="new-password-{{ user.id }}" class="btn btn-danger px-4 px-sm-1 me-3 me-sm-2 button-delete" title="criar nova senha">
                        <i class="bi bi-trash"></i></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script>
    $(function() {
        $('#table').bootstrapTable();
    });

    window.detailFormatter = (index, row) => {
        const html = []
        $.each(row, function (key, value) {
            html.push(`<p><b>${key}:</b> ${value}</p>`)
        })
        return html.join('')
    }

    $(document).on('click', '.button-new-password', function() {
        // enviar email com uma nova senha para o usuário
        console.log('enviar email com nova senha')
        const id = $(this).attr('id').split('-')[2];
        const url = "{% url 'user:send-new-password-user' 1 %}".replace('1', id);
        Swal.fire({
            title: "Criar Nova Senha",
            text: "Enviaremos um email com uma nova senha para o usuário.",
            icon: "info",
            theme: '{{ request.user.get_theme_display }}',
            showCancelButton: true,
            confirmButtonText: "enviar",
            cancelButtonText: "cancelar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then(result => {
                if (result.isConfirmed) {
                    fetch(url, {method: "GET",})
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'ok') {
                            Toast.fire({
                                icon: "success",
                                title: data.message,
                                background: "#B0FFB0",
                            });
                        } else {
                            Toast.fire({
                                icon: "error",
                                title: data.message,
                                background: "#FFB0B0",
                            });
                        }
                    })
                    .catch(error => console.error(error));
                }
            }
        )
    });

    $(document).on('click', '.button-delete', function() {
        const id = $(this).attr('id').split('-')[2];
        const table_line = $(this).closest('tr');
        const username = table_line.find("td:eq(0)").text();
        Swal.fire({
            title: "Você tem certeza?",
            text: `você vai apagar o usuário: ${username}`,
            icon: "warning",
            theme: '{{ request.user.get_theme_display }}',
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "apagar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then((result) => {
            if (result.isConfirmed) {
                const url = "{% url 'user:delete-user' 1 %}".replace('1', id);
                fetch(url, {method: "GET",})
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        Toast.fire({
                            icon: "success",
                            title: data.message,
                            background: "#B0FFB0",
                        });
                        // Atualizar a lista de usuários após a exclusão
                        table_line.remove();
                    } else {
                        Toast.fire({
                            icon: "error",
                            title: data.message,
                            background: "#FFB0B0",
                        });
                    }
                    })
                .catch(error => console.error(error));
            }
        });
    })
</script>
{% endblock extra_javascript %}