{% extends "partials/base_table.html" %}
{% load static %}
{% load boat_extras %}

{% block extra_css %}
<style>
    table a, button {
        opacity: 0.7;
    }
    #toolbar {
        opacity: 0.7;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <div id="toolbar">
        <a href="{% url 'user:create-user' %}" class="btn btn-primary">Novo Usuário</a>
    </div>
    <div class="row">
        <div class="col">
            <h3>Usuários</h3>
        </div>
        {% if request.user.profile == 'SO' %}
        <div class="col-auto">
            <h5>{{ request.user|boat:'name'}}</h5>
        </div>
        {% endif %}
        <hr>
    </div>
    <table id="table"
        data-classes="table table-hover"
        data-toolbar="#toolbar"
        data-pagination="true"
        data-search="true"
        data-sort-name="username"
        data-sort-order="asc"
        data-show-pagination-switch="true"
        data-locale="pt-BR"
        data-mobile-responsive="true"
        data-min-width=576
        data-check-on-init="true">
        <thead>
            <tr>
                <th data-field="username" data-sortable="true" data-formatter="usernameFormatter">usuário</th>
                <th data-field="profile" data-sortable="true">perfil</th>
                <th data-field="email" data-sortable="true">email</th>
                <th data-field="first_name" data-sortable="true">nome</th>
                <th data-field="last_name" data-sortable="true">sobrenome</th>
                <th data-field="phone" data-sortable="true">telefone</th>
                <th data-field="theme" data-sortable="true">tema</th>
                <th data-field="id" data-sortable="false" data-width="5" data-width-unit="%" data-formatter="idFormatter"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.get_profile_display }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.get_theme_display }}</td>
                <td>{{ user.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script>
    const table = $('#table');

    $(function() {
        table.bootstrapTable();
    });

    window.usernameFormatter = (value, row, index, field) => {

        return `<spam id="username-${row.id}">${value}</spam>`
    }

    window.idFormatter = (value, row, index, field) => {
        return `
        <div class="d-flex justify-content-center mt-3 mt-sm-0">
            <button type="button" id="new-password-${value}" class="btn btn-warning px-4 px-sm-1 me-3 me-sm-2 button-new-password" title="criar nova senha">
            <i class="bi bi-key"></i></button>
            <a href="update/${value}" class="btn btn-primary px-4 px-sm-1 me-3 me-sm-2" title="editar"
            id="update-${value}"><i class="bi bi-pencil"></i></a>
            <button type="button" id="new-password-${value}" class="btn btn-danger px-4 px-sm-1 me-3 me-sm-2 button-delete" title="criar nova senha">
            <i class="bi bi-trash"></i></button>
        </div>`
    }

    $(document).on('click', '.button-new-password', function() {
        // enviar email com uma nova senha para o usuário
        const id = $(this).attr('id').split('-')[2];
        const url = "{% url 'user:send-new-password-user' 1 %}".replace('1', id);
        Swal.fire({
            title: "Criar Nova Senha",
            text: "Enviaremos um email com uma nova senha para o usuário.",
            icon: "info",
            theme: '{{ request.user.get_theme_display }}',
            showCancelButton: true,
            confirmButtonText: "enviar",
            cancelButtonText: "cancelar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then(result => {
                if (result.isConfirmed) {
                    fetch(url, {method: "GET",})
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'ok') {
                            Toast.fire({
                                icon: "success",
                                title: data.message,
                                background: "#B0FFB0",
                            });
                        } else {
                            Toast.fire({
                                icon: "error",
                                title: data.message,
                                background: "#FFB0B0",
                            });
                        }
                    })
                    .catch(error => console.error(error));
                }
            }
        )
    });

    $(document).on('click', '.button-delete', function() {
        const id = $(this).attr('id').split('-')[2];
        const username = $(`#username-${id}`).text();
        Swal.fire({
            title: "Você tem certeza?",
            text: `você vai apagar o usuário: ${username}`,
            icon: "warning",
            theme: '{{ request.user.get_theme_display }}',
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "apagar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then((result) => {
            if (result.isConfirmed) {
                const url = "{% url 'user:delete-user' 1 %}".replace('1', id);
                fetch(url, {method: "GET",})
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        Toast.fire({
                            icon: "success",
                            title: data.message,
                            background: "#B0FFB0",
                        });
                        // Atualizar a lista de usuários após a exclusão
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Toast.fire({
                            icon: "error",
                            title: data.message,
                            background: "#FFB0B0",
                        });
                    }
                    })
                .catch(error => console.error(error));
            }
        });
    })
</script>
{% endblock extra_javascript %}