{% extends "partials/base_table.html" %}
{% load static %}
{% load boat_extras %}

{% block extra_css %}
<style>
    table a, button {
        opacity: 0.7;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <div class="row align-items-end">
        <div class="col">
            <h3>Manutenções <span class="h6">finalizadas</span></h3>
        </div>
        {% if request.user.profile == 'SO' %}
        <div class="col-auto">
            <h5>{{ request.user|boat:'name'}}</h5>
        </div>
        {% endif %}
        <hr>
    </div>
    <table id="table"
        data-classes="table table-hover"
        data-pagination="true"
        data-search="true"
        data-sort-name="finish_date"
        data-sort-order="asc"
        data-locale="pt-BR"
        data-mobile-responsive="true"
        data-check-on-init="true">
        <thead>
            <tr>
                {% if request.user.profile != "SO" %}
                <th data-field="boat" data-sortable="true">barco</th>
                {% endif %}
                <th data-field="finish_date" data-sortable="true" data-formatter="finish_date_formatter">data finalização</th>
                <th data-field="sector" data-sortable="true">setor</th>
                <th data-field="description" data-sortable="true">descrição</th>
                <th data-field="creator" data-sortable="true">responsável</th>
                <th data-field="technician" data-sortable="true">tecnico</th>
                <th data-field="id" data-sortable="false" data-formatter="id_formatter"></th>
            </tr>
        </thead>
        <tbody>
            {% for maintenance in maintenances_list %}
            <tr>
                {% if request.user.profile != "SO" %}
                <td>{{ maintenance.boat }}</td>
                {% endif %}
                <td>{{ maintenance.finish_date|date:"Y-m-d" }}</td>
                <td>{{ maintenance.get_sector_display }}</td>
                <td>{{ maintenance.description }}</td>
                <td>{{ maintenance.creator }}</td>
                <td>{{ maintenance.technician|default:"" }}</td>
                <td>{{ maintenance.id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script>
    const table = $('#table');
    var pagination = null;

    window.id_formatter = (value, row, index, field) => {
        return `
        <div class="d-flex justify-content-center mt-3 mt-sm-0">
            <button type="button" id="button-info-${value}" class="btn btn-info px-4 px-sm-1 me-3 me-sm-1 button-info" title="informação">
                <i class="bi bi-info-lg"></i>
            </button>
            <button type="button" id="button-delete-${value}" class="btn btn-danger px-4 px-sm-1 me-3 me-sm-1 button-delete" title="criar nova senha">
                <i class="bi bi-trash"></i>
            </button>
        </div>`
    }

    window.finish_date_formatter = (value, row, index, field) => {
        const dueDate = new Date(value + 'T00:00:00');
        return dueDate.toLocaleDateString();
    }

    $(function() {
        table.bootstrapTable({
            onToggle: function (cardview) {
                const windowWidth = $(window).width();
                if (windowWidth < 576) {
                    if (pagination === null || pagination) {
                        pagination = false;
                        table.bootstrapTable('togglePagination');
                    }
                } else {
                    if (pagination === null) {
                        pagination = true;
                    } else if (!pagination) {
                        pagination = true;
                        table.bootstrapTable('togglePagination');
                    }
                }
            }
        });
    });

    $(document).on('click', '.button-info', function() {
        const id = $(this).attr('id').split('-')[2];
        const url = "{% url 'maintenance:details-maintenance' 1 %}".replace('1', id);
        fetch(url)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            Swal.fire({
                title: "Informação",
                html: `
                <div class="text-start">
                    <h5>descrição: ${data.description}</h5>
                    <h5>data limite: ${data.due_date}</h5>
                    <h5>setor: ${data.sector}</h5>
                    <h5>barco: ${data.boat}</h5>
                    <h5>data agendada: ${data.schedule_date}</h5>
                    <h5>técnico: ${data.technician}</h5>
                    <h5>data finalizada: ${data.finish_date}</h5>
                    <h5>horas do motor: ${data.engine_hours}</h5>
                    <h5>observação: ${data.obs}</h5>
                </div>
                `,
                theme: '{{ request.user.get_theme_display }}',
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn btn-success btn',
                    loader: 'custom-loader',
                },
                loaderHtml: '<div class="spinner-border text-primary"></div>',
            });
        });
    })

    $(document).on('click', '.button-delete', function() {
        /**
         * Shows a modal confirmation alert and them send an AJAX requisition
         * to delete a maintenance from the system.
         */
        const id = $(this).attr('id').split('-')[2];
        const description = $(`#description-${id}`).text();
        Swal.fire({
            title: "Você tem certeza?",
            text: `você vai apagar a manutenção: ${description}`,
            icon: "warning",
            theme: '{{ request.user.get_theme_display }}',
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "apagar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then((result) => {
            if (result.isConfirmed) {
                const url = "{% url 'maintenance:delete-maintenance' 1 %}".replace('1', id);
                fetch(url, {method: "GET",})
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        Toast.fire({
                            icon: "success",
                            title: data.message,
                            background: "#B0FFB0",
                        });
                        // Atualizar a lista de usuários após a exclusão
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Toast.fire({
                            icon: "error",
                            title: data.message,
                            background: "#FFB0B0",
                        });
                    }
                    })
                .catch(error => console.error(error));
            }
        });
    })
</script>
{% endblock extra_javascript %}