{% extends "partials/base_table.html" %}
{% load static %}

{% block extra_css %}
<style>
    table a, button {
        opacity: 0.7;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Manutenções Periódicas</h3>
        </div>
        <div class="col-auto">
            <a href="{% url 'maintenance:create-periodic' %}" class="btn btn-primary btn-sm">Nova Manutenção Periódica</a>
        </div>
        <hr>
    </div>
    <table id="table"
        data-classes="table table-hover"
        data-pagination="true"
        data-search="true"
        data-sort-name="finish_date"
        data-sort-order="asc"
        data-locale="pt-BR"
        data-mobile-responsive="true"
        data-check-on-init="true">
        <thead>
            <tr>
                <th data-field="boat" data-sortable="true">barco</th>
                <th data-field="sector" data-sortable="true">setor</th>
                <th data-field="periodicity" data-sortable="true">Periodicidade</th>
                <th data-field="description" data-sortable="true">descrição</th>
                <th data-field="creator" data-sortable="true">responsável</th>
                <th data-field="id" data-sortable="false" data-formatter="id_formatter"></th>
            </tr>
        </thead>
        <tbody>
            {% for periodic in periodics_list %}
            <tr>
                <td>{{ periodic.boat }}</td>
                <td>{{ periodic.get_sector_display }}</td>
                <td>{{ periodic.get_periodicity_display }}</td>
                <td>{{ periodic.description }}</td>
                <td>{{ periodic.creator }}</td>
                <td>{{ periodic.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script>
    const table = $('#table');
    var pagination = null;

    window.id_formatter = (value, row, index, field) => {
        return `
        <div class="d-flex justify-content-center mt-3 mt-sm-0">
            <button type="button" id="button-info-${value}" class="btn btn-info px-4 px-sm-1 me-3 me-sm-1 button-info" title="operação">
                <i class="bi bi-info-lg"></i>
            </button>
            <a href="update/${value}" class="btn btn-primary px-4 px-sm-1 me-3 me-sm-1" title="editar" id="update-${value}">
                <i class="bi bi-pencil"></i>
            </a>
            <button type="button" id="button-delete-${value}" class="btn btn-danger px-4 px-sm-1 me-3 me-sm-1 button-delete" title="criar nova senha">
                <i class="bi bi-trash"></i>
            </button>
        </div>`
    }

    $(function() {
        table.bootstrapTable({
            onToggle: function (cardview) {
                const windowWidth = $(window).width();
                if (windowWidth < 576) {
                    if (pagination === null || pagination) {
                        pagination = false;
                        table.bootstrapTable('togglePagination');
                    }
                } else {
                    if (pagination === null) {
                        pagination = true;
                    } else if (!pagination) {
                        pagination = true;
                        table.bootstrapTable('togglePagination');
                    }
                }
            }
        });
    });

    $(document).on('click', '.button-info', function() {
        const id = $(this).attr('id').split('-')[2];
        const url = "{% url 'maintenance:details-periodic' 1 %}".replace('1', id);
        fetch(url)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            let html = `
                <div class="text-start">
                    <h5>descrição: ${data.description}</h5>
                    <h5>setor: ${data.sector}</h5>
                    <h5>barco: ${data.boat}</h5>
                    <h5>periodicidade: ${data.periodicity_display}</h5>
            `;
            console.log()
            if (['WE', 'BW'].includes(data.periodicity)) {
                html += `<h5>dia da semana: ${data.periodicity_week_day}</h5>`
            }
            if (['MO', 'QU', 'SA', 'AN'].includes(data.periodicity)) {
                html += `<h5>dia do mês: ${data.periodicity_day}</h5>`
            }
            if (['QU', 'SA', 'AN'].includes(data.periodicity)) {
                html += `<h5>mês: ${data.periodicity_month}</h5>`
            }
            html += `</div>`;
            Swal.fire({
                title: "Informação",
                html: html,
                theme: '{{ request.user.get_theme_display }}',
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn btn-success btn',
                    loader: 'custom-loader',
                },
                loaderHtml: '<div class="spinner-border text-primary"></div>',
            });
        });
    });

    $(document).on('click', '.button-delete', function() {
        const id = $(this).attr('id').split('-')[2];
        const table_line = $(this).closest('tr');
        const descricao = table_line.find("td:eq(3)").text();
        Swal.fire({
            title: "Você tem certeza?",
            html: `você vai apagar a manutenção periódica: <strong>${descricao}</strong>`,
            icon: "warning",
            theme: '{{ request.user.get_theme_display }}',
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "apagar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then((result) => {
            if (result.isConfirmed) {
                const url = "{% url 'maintenance:delete-periodic' 1 %}".replace('1', id);
                fetch(url, {method: "GET",})
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        Toast.fire({
                            icon: "success",
                            title: data.message,
                            background: "#B0FFB0",
                        });
                        // Atualizar a lista de usuários após a exclusão
                        setTimeout(() => {
                            window.location.reload();
                        }, 2000);
                    } else {
                        Toast.fire({
                            icon: "error",
                            title: data.message,
                            background: "#FFB0B0",
                        });
                    }
                    })
                .catch(error => console.error(error));
            }
        });
    })
</script>
{% endblock extra_javascript %}