{% extends "partials/base_table.html" %}
{% load static %}

{% block extra_css %}
<style>
    table a, button {
        opacity: 0.7;
    }
</style>
{% endblock extra_css %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Manutenções Periódicas</h3>
        </div>
        <div class="col-auto">
            <a href="{% url 'maintenance:create-periodic' %}" class="btn btn-primary btn-sm">Nova Manutenção Periódica</a>
        </div>
        <hr>
    </div>
    <table class="table" id="table">
        <thead>
            <tr>
                <th scope="col">barco</th>
                <th scope="col">setor</th>
                <th scope="col">Periodicidade</th>
                <th scope="col">descrição</th>
                <th scope="col">responsável</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for periodic in periodics_list %}
            <tr>
                <td>{{ periodic.boat }}</td>
                <td>{{ periodic.get_sector_display }}</td>
                <td>{{ periodic.get_periodicity_display }}</td>
                <td>{{ periodic.description }}</td>
                <td>{{ periodic.creator }}</td>
                <td>{{ periodic.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block extra_javascript %}
<script>
    $(function() {
        $('#table').DataTable(
            {
                deferRender: true,
                responsive: true,
                columns: [
                    {data: 'boat'},
                    {data: 'sector'},
                    {data: 'periodicity'},
                    {data: 'description'},  
                    {data: 'creator'},
                    {data: 'id',
                        render: function(data, type, row) {
                            return  `<div class="d-flex">
                                    <button type="button" id="button-info-${data}" class="btn btn-info p-1 me-1 button-info" title="operação">
                                    <i class="bi bi-info-lg"></i></button>
                                    <a href="update/${data}" class="btn btn-primary p-1 me-1" title="editar"
                                    id="update-${data}"><i class="bi bi-pencil"></i></a>
                                    <button type="button" id="button-delete-${data}" class="btn btn-danger p-1 me-2 button-delete" title="criar nova senha">
                                    <i class="bi bi-trash"></i></button>
                                    </div>`;
                        }
                    }
                ],
                columnDefs: [
                    { responsivePriority: 1, targets: 0 },
                    { responsivePriority: 2, targets: -1 },
                    { orderable: false, targets: -1 },
                    { width: "5%", targets:-1},
                ],
            }
        );
    });

    $(document).on('click', '.button-info', function() {
        const id = $(this).attr('id').split('-')[2];
        const url = "{% url 'maintenance:details-periodic' 1 %}".replace('1', id);
        fetch(url)
        .then(response => response.json())  
        .then(data => {
            console.log(data)
            let html = `
                <div class="text-start">
                    <h5>descrição: ${data.description}</h5>
                    <h5>setor: ${data.sector}</h5>
                    <h5>barco: ${data.boat}</h5>
                    <h5>periodicidade: ${data.periodicity_display}</h5>
            `;
            console.log()
            if (['WE', 'BW'].includes(data.periodicity)) {
                html += `<h5>dia da semana: ${data.periodicity_week_day}</h5>`
            }
            if (['MO', 'QU', 'SA', 'AN'].includes(data.periodicity)) {
                html += `<h5>dia do mês: ${data.periodicity_day}</h5>`
            }
            if (['QU', 'SA', 'AN'].includes(data.periodicity)) {
                html += `<h5>mês: ${data.periodicity_month}</h5>`
            }
            html += `</div>`;
            Swal.fire({
                title: "Informação",
                html: html,
                theme: '{{ request.user.get_theme_display }}',
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn btn-success btn',
                    loader: 'custom-loader',
                },
                loaderHtml: '<div class="spinner-border text-primary"></div>',
            });
        });
    });

    $(document).on('click', '.button-delete', function() {
        const id = $(this).attr('id').split('-')[2];
        const table_line = $(this).closest('tr');
        const descricao = table_line.find("td:eq(3)").text();
        Swal.fire({
            title: "Você tem certeza?",
            html: `você vai apagar a manutenção periódica: <strong>${descricao}</strong>`,
            icon: "warning",
            theme: '{{ request.user.get_theme_display }}',
            buttonsStyling: false,
            showCancelButton: true,
            confirmButtonText: "apagar",
            customClass: {
                confirmButton: 'btn btn-success btn-lg me-2',
                cancelButton: 'btn btn-danger btn-lg',
                loader: 'custom-loader',
            },
            loaderHtml: '<div class="spinner-border text-primary"></div>',
        })
        .then((result) => {
            if (result.isConfirmed) {
                const url = "{% url 'maintenance:delete-periodic' 1 %}".replace('1', id);
                fetch(url, {method: "GET",})
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        Toast.fire({
                            icon: "success",
                            title: data.message,
                            background: "#B0FFB0",
                        });
                        // Atualizar a lista de usuários após a exclusão
                        table_line.remove();
                    } else {
                        Toast.fire({
                            icon: "error",
                            title: data.message,
                            background: "#FFB0B0",
                        });
                    }
                    }) 
                .catch(error => console.error(error));
            } 
        });
    })
</script>
{% endblock extra_javascript %}