<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h4>Olá {{first_name}} {{last_name}},</h4>
        <p>Foi solicitada uma nova senha para o seu usuário.</p>
        <p>Segue abaixo a senha gerada para seu acesso ao sistema:</p>
        <p>usuário: <strong>{{username}}</strong></p>
        <spam>senha provisória: <strong>{{new_password}}</strong></spam>
        <p>Por favor faça o login no sistema abaixo:</p>
        <h4>{{current_site}}</h4>
        <p>usando seu usuário, ou seu email, e a senha enviada.</p>
        <p>Pedimos que altere a senha para uma pessoal de sua escolha assim que possível.</p>
        <h4>Henrique Faria</h4>
    </body>
</html>